/*Footer Section*/

.footer{
    background-color:#ffdae9;
    box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2);
   width:100%;
    height: 300px;
  
margin-top:60px;
   
}

.footer .footer-content {
	line-height: 1.6;
	overflow:auto;
}

ul {
	list-style-type:none;
}


h3{
	color: #616161;
}

ul li a{
	text-decoration:none;
}

a{
color:#818181;
}

a:hover{
	color: #000;
}
.footer-section-explore{
	float: left;
	width: 15%;
	padding: 25px;
}

.footer-section-help{
	float: left;
	width: 15%;
	padding: 25px;
}
    
.footer-section-policy{	
	float: left;
	width: 15%;
	padding: 25px;
}

.footer-section-social{
	float: left;
	width: 15%;
	padding: 25px;
}

.footer-bottom {
	background-color:#000;
	color:#616161;
	line-height:50px;
	width: 100%;
	text-align:center;
	bottom: 0;
	left: 0px;
}
	
